body {
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    /*  background-color: rgba(255, 255, 255, 0.7); */
    background-image: url('../img/background.jpg');
    background-attachment:fixed;
}

.container {
    border: 0px solid lightgrey;
    background-color: lightgrey;
    margin: 6px 0;
    position: relative;
    height: auto;
    font-family: sans-serif;
    border-radius: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#shout{
    position: relative;
    height: 40px;
    width: 66.5%;
    top: -20px;
    font-size: 15px;
    resize: none;
    left: 10px;
}

#SendSubmit{
    position: relative;
    height: 40px;
    top: -40px;
    right:-5px;
}

.Other {
    float: left;
    width: 85%;
    text-align: left;
}

.backbutton{
    border: 0;
    top: 1.5px;
    position: relative;
    background: none;
    box-shadow:none;
    border-radius: 0px;
}

.userRight {
    left: -10px;
    position: relative;
}

.You {
    border-color: lightgreen;
    background-color: lightgreen;
    text-align: right;
    padding-left: 10px;
    width: 85%;
    float: right;
}

.time-right {
    float: right;
    color: black;
    margin-top: -25px;
    top: 7px;
}

p.txtBeschrijving{
    width: 95%;
    right: 0px;
    height: auto;
    position: relative;
}

.time-left {
    float: left;
    color: black;
    margin-top: -25px;
}

p.time-left {
    right: -20px;
    position: relative;
}

p.time-right {
    right: 40px;
    position: relative;
}

.BackClass {
    position:fixed;
    background-color: rgba(231, 222, 213, 1);
    z-index: 2;
    width:100%;
    height:40px;
    right: 0px;
}

.btnBack{
    position: relative;
    left: 20px;
}


input.btn-input.form-control.input-sm.chat_input {
    left: 5px;
    position: relative;
}


.user {
    right: -20px;
    position: relative;
}

.txtName {
    font-weight: bold;
}

.btn-input{
    border-radius: 10px 0px 0px 10px;
    border: 1px solid lightgrey;
    width: 68.5%;
    font-size: 20px;
    height: 100%;
}

.btn-chat{
    width: 20%;
    height: auto;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid lightgrey;
    background-color: lightgrey;
    height: 100%;
}

.input{
    height: 30px;
    padding-top: 30px;
    z-index: 2;
    padding-bottom: 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 110%;
    background-color: rgba(231, 222, 213, 0.8);
}

.alles{
    height: 80%;
}

.extraHeight{
    height: 30px;
}

#fontAwesome{
    color: darkgray;
}

.chattekst{
    position: relative;
    top: -23.5px;
}

/* It's the Apple iPhone X  ofcouse ;)  */
@media only screen  and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio : 3) {
    .input{
        padding-bottom: 30px;
    }
}

.txtBeschrijving {
    word-wrap: break-word;
}
