html { width: 100%; height:100%; overflow:hidden; }

body {
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
}

.banner{
	width: 100%;
	background-color: black;
}

.login {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}

.pin_container{
	padding: 70px 0;
  border: 3px solid white;
	text-align: center;
}

.pintekst{
	margin-right: 40px;
	margin-top: 10px;
}

#Logo{
	display: block;
  margin: auto;
  width: 90%;
}

#inloggentext {
	margin-top: 45%;
}

textarea::-webkit-textarea-placeholder {
	font-size: 20px;
	line-height: 3;
}

#welkomText {
	color: black;
	margin-top: 40%;
	margin-left: 10%;
}

#welkomText2 {
	color: black;
	margin-top: 10%;
	margin-left: 10%;
}


#appUser {
	color: grey;
	margin-top: 40%;
	margin-left: 10%;
}

#cijfertekst{
	margin-top: 20px;
	color: black;
	margin-left: 10%;
}

.toplogo{
	top: 50px;
	position: absolute;
	display: block;
	margin: auto;
	width: 100%;
}

input {
	width: 100%;
	margin-bottom: 10px;
	background: white;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	border: 2px solid lightgray;
	border-radius: 10px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
		border-radius: 10px;
		width: 100%;
}

#chatbutton {
	margin: 0 auto;
	display: block;
	width: 94%;
	margin-left: 0%;
	margin-top: -1%;
}

#people {
	top: -9px;
	position: relative;
}

.landingbutton{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 10px;
	width: 45%;
	height: 120px;
}
